---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Memberships from "../components/Memberships.astro";
import Donate from "../components/Donate.astro";
import Board from "../components/Board.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Green Schools Foundation - Serving Students Since 1992">
    <div id="top"></div>
    <Header />
    <Hero />
    <Memberships />
    <Donate />
    <Board />
    <Footer />
</Layout>
